<?xml version="1.0"?>
<config>
    <modules>
        <Spranks_AutomaticInvoices>
            <version>1.0.0</version>
        </Spranks_AutomaticInvoices>
    </modules>
    <global>
        <blocks>
            <spranks_automaticinvoices>
                <class>Spranks_AutomaticInvoices_Block</class>
            </spranks_automaticinvoices>
        </blocks>
        <helpers>
            <spranks_automaticinvoices>
                <class>Spranks_AutomaticInvoices_Helper</class>
            </spranks_automaticinvoices>
        </helpers>
        <models>
            <spranks_automaticinvoices>
                <class>Spranks_AutomaticInvoices_Model</class>
            </spranks_automaticinvoices>
        </models>
        <events>
            <sales_model_service_quote_submit_after>
                <observers>
                    <spranks_automaticinvoices>
                        <type>model</type>
                        <class>spranks_automaticinvoices/observer</class>
                        <method>salesModelServiceQuoteSubmitAfter</method>
                    </spranks_automaticinvoices>
                </observers>
            </sales_model_service_quote_submit_after>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <spranks_automaticinvoices>
                    <files>
                        <default>Spranks_AutomaticInvoices.csv</default>
                    </files>
                </spranks_automaticinvoices>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <spranks_automaticinvoices>
            <general>
                <is_active>0</is_active>
                <payment_method_configuration/>
            </general>
        </spranks_automaticinvoices>
    </default>
</config>
